@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:regular");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4 {
  font-family: Bebas Neue;
}
p {
  font-family: nunito;
}

.Bebas {
  font-family: Bebas Neue;
}

.GradText {
  background: rgb(87, 86, 137);
  background: -moz-linear-gradient(
    90deg,
    rgba(87, 86, 137, 1) 0%,
    rgba(171, 171, 223, 1) 50%,
    rgba(87, 86, 137, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(87, 86, 137, 1) 0%,
    rgba(171, 171, 223, 1) 50%,
    rgba(87, 86, 137, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(87, 86, 137, 1) 0%,
    rgba(171, 171, 223, 1) 50%,
    rgba(87, 86, 137, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#575689",endColorstr="#575689",GradientType=1);

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

.Promotional {
  background: rgb(23, 22, 48);
  background: -moz-linear-gradient(
    90deg,
    rgba(23, 22, 48, 1) 17%,
    rgba(57, 55, 101, 1) 50%,
    rgba(23, 22, 48, 1) 83%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(23, 22, 48, 1) 17%,
    rgba(57, 55, 101, 1) 50%,
    rgba(23, 22, 48, 1) 83%
  );
  background: linear-gradient(
    90deg,
    rgba(23, 22, 48, 1) 17%,
    rgba(57, 55, 101, 1) 50%,
    rgba(23, 22, 48, 1) 83%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#171630",endColorstr="#171630",GradientType=1);
}

/*-------------Infinite Horizontal Scroller---------------*/

.scroller {
  max-width: 90%;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/*-----Spinner-----*/

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}
